.feed {
  &__table {
    background-color: #fff;
  }

  &__calendar {
    background-color: #fff;
    margin-bottom: 40px;
  }

  &__item-title {
    font-size: 16px;
    font-family: OpenSansBold;
  }

  &__item-author {
    font-size: 14px;
    color: #909090;
  }

  &__item-date {
    font-size: 14px;
    color: #909090;
  }

  &__events {
    .event__day-header,
    .event__day-item {
      padding-left: 0;
    }
  }
}
