.project-groups {
  padding: 10px;

  &__search {
    padding: 10px;
  }
}

.project-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  &__avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: cadetblue;
  }

  &__info-container {
    display: flex;
    align-items: center;
  }

  &__info {
    margin-left: 10px;
  }

  &__title {
    font-size: 15px;
    font-weight: 900;
    line-height: 30px;
  }

  &__text {
    color: gray;
    line-height: 30px;
  }

  &__operations {
    display: flex;
    align-items: center;
  }

  &__more-button {
    width: 20px;
  }

  &__more {
    transform: rotate(90deg);
  }

  &__menu {
    span {
      cursor: pointer;
      font-size: 10px;
    }
  }
}
