.project-groups {
  padding: 16px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    margin-bottom: 16px;
    padding-left: 16px;
    margin-right: 16px;
  }

  &__title {
    font-family: PTSansBold, sans-serif;
    font-size: 24px;
    margin-left: 8px;
    text-transform: uppercase;

    &-list {
      font-family: FiraSans, sans-serif;
      font-size: 16px;
      margin-bottom: 48px;
    }
  }

  &__search {
    padding: 10px;
  }

  &-admin {
    padding-left: 16px;
  }
}

.project-group {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  height: 80px;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: #fff;
  color: #000;
  border-radius: 8px;

  &__avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  &__info-container {
    display: flex;
    align-items: center;
  }

  &__info {
    margin-left: 10px;
  }

  &__title {
    font-family: PTSans, sans-serif;

    font-size: 22px;
    font-weight: 900;
    line-height: 30px;
    a {
      color: #000;
    }
  }

  &__text {
    font-family: FiraSans;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
  }

  &__count {
    font-family: PTSans;
    font-size: 22px;
    color: #000000;
    margin-left: 16px;
  }

  &__operations {
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-between;
  }

  &__more-button {
    width: 20px;
  }

  &__more {
    transform: rotate(90deg);
  }

  &__menu {
    span {
      cursor: pointer;
      font-size: 10px;
    }
  }

  &__leave-button {
    font-family: OpenSans !important;
    font-size: 14px !important;
    color: #d8d8d8 !important;
    background: #f1f1f1;
    border-radius: 6px;
    font-family: PTSans-Regular;
    width: 150px;
    margin-left: 24px;
  }

  &__join-button {
    border-radius: 6px;
    border: 1px solid #0042d7 !important;
    color: #fff !important;
    font-size: 14px;
    font-family: PTSans;
    background: #0042d7 !important;
    width: 150px;
    margin-left: 24px;
  }
}
