.chat {
  &__icon {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    cursor: pointer;
  }

  &__indicator {
    width: 10px;
    height: 10px;
    background-color: silver;
    border-radius: 50%;
    margin-right: 10px;
    flex-shrink: 0;
    &_connected {
      background-color: green;
    }
  }

  &__message {
    position: relative;
    width: 70%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    padding-left: 40px;
    padding-bottom: 20px;
    margin-bottom: 20px;

    &-avatar img {
      position: absolute;
      left: 4px;
      max-width: 50px;
      max-height: 30px;
      border-radius: 50%;
    }

    &-info {
      display: flex;
      justify-content: flex-end;
      align-items: baseline;
    }

    &-date {
      font-size: 8px;
      text-align: right;
      margin-right: 5px;
    }

    &-seen {
      font-size: 6px;
    }

    &-image {
      width: 200px;
      height: 200px;
    }
  }

  &__search {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #ebebeb;
    height: 52px;
  }

  .ant-drawer-body {
    height: 100%;
    padding: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__talks {
    height: calc(100% - 52px - 52px);
    display: flex;
    position: relative;
  }

  &__chanels {
    background: #ebebeb;
    flex: 1.5;
    overflow-y: auto;

    &-item {
      padding: 10px;
      display: flex;
      cursor: pointer;
      align-items: center;
      margin-bottom: 10px;
      &_active {
        background: #fff;
      }
    }

    &-avatar img {
      border-radius: 50%;
      margin-right: 5px;
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
  }

  &__talk {
    flex: 3;
    padding: 10px 10px 0 10px;
    overflow-y: auto;
    // position: relative;
    &-spin {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &-down {
      position: absolute;
      right: 30px;
      bottom: 10px;
      z-index: 100;
    }
  }

  &__controls {
    display: flex;
    padding: 10px;
    align-items: center;
    height: 52px;

    &-file-icon {
      width: 40px;
      text-align: center;
      cursor: pointer;
    }
  }
}
