.chat {
  &__icon {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    cursor: pointer;
  }

  &__message {
    width: 70%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    &-date {
      font-size: 8px;
    }
    margin-bottom: 10px;
  }

  &__search {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #ebebeb;
  }

  .ant-drawer-body {
    height: 100%;
    padding: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__talks {
    height: 100%;
    display: flex;
  }

  &__chanels {
    background: #ebebeb;
    flex: 1.5;

    &-item {
      padding: 10px;
      display: flex;
      cursor: pointer;
      align-items: center;
      margin-bottom: 10px;
      &_active {
        background: #fff;
      }
    }

    &-avatar img {
      border-radius: 50%;
      margin-right: 5px;
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
  }

  &__talk {
    flex: 3;
    padding: 10px 10px 0 10px;
    overflow-y: auto;
    position: relative;
    &-spin {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__controls {
    display: flex;
    padding: 10px;
    align-items: center;

    &-file-icon {
      width: 40px;
      text-align: center;
      cursor: pointer;
    }
  }
}
