.group {
  width: 100%;
  padding-left: 40px;
  padding-right: 24px;

  &__pinned {
    margin-top: 40px;
    &-title {
      font-size: 16px;
      color: #595959;
      margin-bottom: 20px;
      font-family: OpenSansBold;
    }

    &-name {
      font-size: 14px;
      color: #1890ff;
      line-height: 20px;
      &:hover {
        text-decoration: underline;
      }
    }

    ul {
      list-style-type: none;
    }

    li {
      margin-bottom: 20px;
      display: flex;
      align-items: flex-start;
    }

    a {
      line-height: 20px;
    }

    svg {
      margin-right: 16px;
    }
  }

  &__files {
    padding-top: 24px;
    padding-left: 24px;
    padding-bottom: 24px;
  }

  &__add-region {
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    border: dotted 1px #979797;
    height: 52px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 16px;
  }

  &__description {
    background: #ffffff;
    border-radius: 6px;
    margin-bottom: 24px;

    &-title {
      font-family: OpenSans;
      font-size: 16px;
      color: #000000;
      margin-bottom: 16px;
    }
  }

  &__feed {
    height: 100%;
    position: relative;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #423319;
    background-blend-mode: multiply;
    &-header {
      padding: 24px 32px 24px 32px;
      color: white;
      height: 100%;
      svg {
        cursor: pointer;
      }
    }

    &-title {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      font-family: OpenSansBold, sans-serif;
      font-size: 30px;
      margin-bottom: 80px;
      position: relative;

      svg {
        position: absolute;
        right: 18px;
        top: 50%;
        transform: translateY(-50%);
      }

      &-editor {
        background-color: #423319 !important;
        border-color: #423319 !important;
        color: white !important;
        font-size: 30px !important;
      }
    }

    &-description {
      font-family: OpenSans, serif;
      font-size: 18px;
      padding-bottom: 40px;
      position: relative;
      padding-right: 64px;

      &-editor {
        background-color: #423319 !important;
        border-color: #423319 !important;
        color: white !important;
        font-size: 18px !important;
        overflow: hidden;
      }

      svg {
        position: absolute;
        right: 18px;
        top: 0;
        // top: 50%;
        // transform: translateY(-50%);
      }
    }

    &-footer {
      position: absolute;
      bottom: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      width: calc(100% - 64px);
    }
    &-show-link {
      cursor: pointer;
    }

    &-rest-description {
      height: 100%;
      padding: 24px 32px;
      background: #fff;
      margin-bottom: 45px;
      font-size: 18px;
      color: #000000;
      line-height: 27px;
    }

    &-background {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }

    &-bg-slider-wrap {
      display: flex;
      align-items: center;
      width: 428px;
      height: 76px;
      padding-left: 48px;
      padding-right: 48px;
      position: relative;

      img {
        margin-right: 8px;
        user-select: none;
        &:last-child {
          margin-right: 0;
        }
      }
    }

    &-bg-slider-prev {
      cursor: pointer;
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
    }

    &-bg-slider-next {
      cursor: pointer;
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__add-info {
    background-color: #fff;
    width: 100%;
    padding: 24px 24px 24px 24px;
    height: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    font-family: OpenSansBold;
    font-size: 24px;
    color: #000000;
  }

  &__title {
    margin-right: 16px;
    font-family: OpenSansBold;
    font-size: 20px;
    color: #000000;

    &_small {
      font-weight: 900;
    }
  }

  &__conversations {
    &-empty {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: OpenSans-Bold;
      font-size: 30px;
      color: #e0d9ce;
      letter-spacing: 0;
      text-align: center;
      line-height: 36px;
      margin-top: 48px;
    }
  }

  &__conversation {
    padding-left: 32px;
    padding-right: 32px;
    background: #ffffff;
    border-radius: 4px;
    margin-bottom: 20px;

    &_news {
      border: 4px solid #bb9062;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;
      color: #989898;
      line-height: 27px;
      display: flex;
      height: 40px;
    }

    &-footer {
      height: 52px;
      display: flex;
      align-items: center;
    }

    &-user {
      margin-right: 16px;
    }

    &-title {
      font-family: OpenSans-Bold;
      font-size: 22px;
      color: #000000;
      margin-bottom: 8px;
    }
    &-description {
      font-family: OpenSans;
      font-size: 16px;
      color: #000000;
      letter-spacing: 0;
      text-align: left;
      line-height: 26px;
      margin-bottom: 32px;
    }

    &-form {
      background: #fff;
      padding: 32px;
      &-user {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        :first-child {
          margin-right: 12px;
        }

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }

  &__text {
    color: gray;
    &_small {
      font-size: 12px;
    }
  }

  &__info-container {
    display: flex;
    margin-bottom: 10px;
  }

  &__avatar img {
    border-radius: 50%;
    margin-right: 10px;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  .group__discussions {
    margin-left: 10px;
  }

  &__discussion-info {
    display: flex;
  }

  &__posts {
    padding: 40px 24px;
    background-color: #fff;
  }

  &__post {
    padding: 24px 24px 16px 0px;
    border-radius: 6px;
    color: #000;
    border-radius: 5px;

    &-file {
      display: flex;
    }

    &-image-file {
      width: 100%;
      object-fit: contain;
      margin-bottom: 8px;
    }

    &_child {
      padding: 0;
    }

    &-show-more {
      font-family: OpenSans;
      font-size: 16px;
      color: #15507c;
      cursor: pointer;
    }

    &-form {
      width: 100%;
      display: flex;
      align-items: baseline;
      &-container {
      }
    }

    &-reply {
      font-family: OpenSans;
      cursor: pointer;
      font-size: 14px;
      color: #595959;
    }

    &-parent {
      color: #000;
      background: #fff;
      padding: 16px;
      border-radius: 6px;

      &-header {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
      }
      &-avatar img {
        border-radius: 50%;
        width: 24px;
        height: 24px;
        object-fit: cover;
      }

      &-user {
        font-family: OpenSansBold, sans-serif;
        font-size: 14px;
        margin-left: 8px;
      }

      &-date {
        font-family: OpenSans, sans-serif;
        font-size: 12px;
      }

      &-text {
        font-size: 12px;
        margin-right: 20px;
      }
    }

    &-to-parent {
      margin-right: 20px;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      font-size: 12px;
    }

    &-user {
      font-family: OpenSans, sans-serif;
      font-size: 16px;
      color: #000000;
    }

    &-date {
      font-family: OpenSans, sans-serif;
      font-size: 12px;
      color: #909090;
    }

    &-position {
      font-family: OpenSans;
      font-size: 12px;
      color: #909090;
      font-family: AndaleMono;
    }

    &-text {
      font-family: OpenSans, sans-serif;
      color: #000000;
      font-size: 16px;
    }
    &-avatar img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      object-fit: cover;
    }
    &-body {
      margin-bottom: 8px;
    }

    &-favorite {
      display: flex;
      align-items: center;
      margin-left: 20px;
      font-size: 13px;
      div {
        line-height: 20px;
        margin-left: 5px;
      }
    }

    &-footer {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      &-line {
        width: 100%;
        height: 1px;
        background: silver;
        margin-bottom: 16px;
      }
    }
  }

  &__participant-info {
    display: flex;
    margin-bottom: 32px;
  }

  &__participant-avatar {
    margin-right: 12px;
    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
    }
    &_row {
      margin-right: 8px;
    }
  }

  &__participant-role {
    font-family: OpenSans;
    font-size: 14px;
    color: #909090;
    margin-bottom: 8px;
  }

  &__participant-name {
    font-family: OpenSans;
    font-size: 16px;
    color: #000000;
    margin-bottom: 8px;
  }

  &__participant-position {
    font-family: OpenSans;
    font-size: 12px;
    color: #909090;
  }

  &__participants {
    &-wrap {
      background: #fff;
    }

    &-rest {
      display: flex;
      align-items: center;
      margin-bottom: 36px;
    }
  }

  &__participant-more {
  }

  .ant-collapse {
    background-color: #f4f6f9;
    border-left: none;
    border-right: none;
    border-top: none;
  }

  .ant-collapse-header {
    padding-left: 0 !important;
    .anticon {
      // display: none !important;
    }
  }

  .ant-collapse-content {
    background-color: #f4f6f9;
  }

  .ant-collapse-content-box {
    padding-left: 0px !important;
  }
}

.group-sidebar {
  &__item {
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      margin-left: 10px;
    }

    &-note {
      font-size: 12px;
      font-weight: 300;
    }
  }
  &__avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: cadetblue;
    object-fit: cover;
  }

  &__video {
    width: 100%;
    margin-top: 10px;
  }

  &__links {
    max-height: 100px;
    overflow-y: auto;
  }

  &__link {
  }

  &__docs {
    max-height: 100px;
    overflow-y: auto;
  }
}

.links-form {
  margin-top: 10px;
  .ant-form-item {
    margin-bottom: 10px;
  }
}
