.header {
  background: #fff;
  padding: 0;
  display: flex;
  padding: 10px;
  height: 80px;

  justify-content: space-between;
  &__search {
    &-container {
      height: 100%;
      display: flex;
      align-items: center;
    }
    &-input {
      width: 250px;
      //   height: 25px;
      margin-left: 20px;
    }
  }

  &__support {
    line-height: 20px;
    display: flex;
    align-items: center;
  }
  &__notification {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__user {
    line-height: 20px;
    display: flex;
    align-items: center;

    &-avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    a {
      margin-left: 10px;
    }
  }
}

.icon {
  &__medium {
    font-size: 20px;
  }
}
