body {
  font-family: OpenSans;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.outer-container {
  background: #efece7;
  min-height: 100vh;
}

.header {
  padding: 0;
  display: flex;
  padding: 10px;
  height: 80px;
  justify-content: space-between;
  margin-bottom: 16px;
  align-items: center;

  &__search {
    &-container {
      height: 100%;
      display: flex;
      align-items: center;
    }
    &-input {
      width: 250px;
      //   height: 25px;
      margin-left: 20px;
    }
  }

  &-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    height: 59px;
    width: 300px;
  }

  &__mail {
    display: flex;
  }

  &__support {
    line-height: 20px;
    display: flex;
    align-items: center;

    &-phone {
      font-size: 18px;
    }

    &-text {
      font-size: 14px;
      font-family: FiraSans;
    }
  }
  &__notification {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__user {
    line-height: 20px;
    display: flex;
    align-items: center;

    &-avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    a {
      margin-left: 10px;
    }
  }
}

.icon {
  &__medium {
    font-size: 20px;
  }
}

.flex-container {
  display: flex;

  &_between {
    justify-content: space-between;
  }

  &_gutter-5 * {
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__row {
    margin-bottom: 20px;
  }
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

// Main menu
.main-menu,
.admin-menu {
  font-family: OpenSans;

  .ant-menu-inline .ant-menu-item {
    font-size: 22px;
    &:after {
      display: none;
    }
  }

  .ant-menu-inline .ant-menu-item:not(:last-child) {
    margin-bottom: 15px;
  }

  .active {
    &:after {
      display: none;
    }
  }
  .ant-menu-inline {
    border: none;
  }
  .ant-menu {
    background-color: #fff;
  }
}

// Fonts

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/ptsans.woff2");
}

@font-face {
  font-family: "OpenSansSemiBold";
  src: url("/fonts/opensanssemibold.woff2");
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/opensans.woff2");
}

@font-face {
  font-family: "OpenSansBold";
  src: url("/fonts/opensansbold.woff2");
}

// Overrides

.ant-form-item {
  margin-bottom: 0px;
}

.ant-breadcrumb {
  margin-bottom: 12px;
}

// end Overrides

// Common styles

.svg-icon {
  width: 16px;
  height: 16px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  margin-bottom: 16px;
  margin-right: 16px;
}

.section-title {
  font-family: OpenSans, sans-serif;

  font-size: 22px;
  font-weight: 900;
  line-height: 30px;
}
